<% layout('/layouts/boilerplate.ejs') -%>

    <p class="display-6 mb-4">Edit Product</p>
    <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
      <div class="mb-3">
        <label for="post-title" class="form-label">Post Title</label>
        <input name="name" type="text" class="form-control" id="post-title" value="<%= post.title %>">
      </div>
      <div class="mb-3">
        <label for="author" class="form-label">Author</label>
        <input name="author" type="text" class="form-control" id="author" value="<%= post.author %>">
      </div>
      <div class="mb-3">
        <label for="author" class="form-label">Likes</label>
        <input name="likes" type="text" class="form-control" id="likes" value="<%= post.likes %>">
      </div>
      <div class="mb-3">
        <label for="post-img" class="form-label">Post Image</label>
        <input name="image" type="text" class="form-control" id="post-img" value="<%= post.image %>">
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea name="content" class="form-control" id="content" rows="3"><%= post.content %></textarea>
      </div>

      <button class="btn btn-sm btn-primary">Save Post</button>
    </form>