<% layout('/layouts/boilerplate.ejs') -%>

  <div class="mt-4 d-flex flex-wrap gap-4 justify-content-center">
    <% for(let post of posts) { %>
      <div class="card" style="width: 20rem;">
        <h5 class="card-text"><%= post.author %></h5>
        <img style="height: 12rem;" src="<%= post.image %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <p class="card-text">❤️ <%= post.likes %></p>
          <p class="card-text"><%= post.content %></p>
          <a href="/posts/<%= post._id %>" class="btn btn-sm btn-primary">Show</a>
        </div>
      </div>
    <% } %>
  </div>