<% layout('/layouts/boilerplate.ejs') -%>

    <div class="row">
      <!-- left part -->
      <div class="col-12 col-lg-6">
        <div class="card mx-auto" style="width: 20rem;">
            <h5 class="card-title"><%= post.author %></h5>
          <img style="height: 12rem;" src="<%= post.image %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= post.title %></h5>
            <p class="card-text">❤️<%= post.likes%></p>
            <p class="card-text"><%= post.content%></p>
            <!-- <a href="/posts/<%= post._id %>" class="btn btn-sm btn-primary">Buy Now</a>
            <a href="/posts/<%= post._id %>" class="btn btn-sm btn-success">Add to Cart</a> -->
            <form class="d-inline" action="/posts/<%= post._id %>?_method=DELETE" method="post">
              <button class="btn btn-sm btn-danger">Delete</button>
            </form>
            <a href="/posts/<%= post._id %>/edit" class="btn btn-sm btn-secondary">Edit</a>
          </div>
        </div>
      </div>
      <!-- right part -->
      <div class="col-12 col-lg-6">
       <div style="width: 20rem;" class="mx-auto">
          <p class="display-5">Leave a comment</p>
          <form method="post" action="/posts/<%= post._id %>/comments">
            <!-- <input name="author" class="form-control" type="text" placeholder="Your name"> -->
            <textarea name="content" class="form-control" rows="3" required></textarea>
            <button class="btn btn-sm btn-success mt-3">Submit</button>
          </form>

          <div>
            <% for( let comment of post.comments ) { %>
              <div class="card mt-3">
                <div class="card-body">
                  <h5 class="card-title"><%= comment.author %></h5>
                  <p class="card-text"><%= comment.content %></p>
                  <!-- <a href="#" class="btn btn-sm btn-danger">Delete</a> -->
                  <% if (user && user.username === comment.author) { %>
          <!-- Only show Delete button if logged-in user is the author -->
                 <form action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" style="display:inline;">
                 <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                 </form>
        <% } %>
                </div>
              </div>
            <% } %>
          </div>
       </div>
      </div>
    </div>